.main-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.social-btn {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.whats-btn {
  background: #25D366;
  color: white;
}

.email-btn {
  background: #eee;
}

.form-section {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.email-input,
.otp-input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.link {
  color: #00b894;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}
